html, body{ 
    height: 100%;
    width: 100%
}
body {    
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
.home {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("photos/steph_curry.png");
}
h1 {
    margin-top: 0px;
}
.home .content{
    color: white;
    font-size: 100px;
}

.content{
    text-align: center;
    position: relative;
    width: 50%;
    top: 42%;
    margin: auto;
}
