html, body{ 
    height: 100%;
    width: 100%
}
body {    
    margin-top: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
#home {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("photos/mountain.jpg");
    background-attachment: fixed;
    border-bottom-style: groove;
    border-width:1px;
    border-color: #262626;
    vertical-align: middle;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
.content{
    text-align: center;
    margin: auto;
    padding-top: 6.7%;
}
h1 {
    margin-top: 0px;
}
#home h1 {
    vertical-align: middle;
    font-size: 100px;
    font-size: 15vh;
    color: #000000;
}
#home p {

    vertical-align: middle;
    font-size: 85px;
    font-size: 12vh;
}
.trans:hover {
    cursor:pointer;
    color: #EF9B0F;
}
.transition {
    bottom: 2%;
    left: 49%;
    text-align center;

    position:absolute;

}
.transition2 {
    bottom: 2%;
    left: 49%;
    position:absolute;
}
#about {
    width:100%;
    display:block;
    overflow:auto;
    background-color:RGB(46,116,191);
    position:relative;
    padding-bottom: 70px;
    color: white;
    padding-left: 1%;
}
#about p {
    font-size: 40px; 
}

.container {
    top: 50%;
}
#links {
    background-color: #EF9B0F;
        display:block;
    overflow:auto;


}
#links h1 {
    color: black;
    font-size: 67px;
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    
}
#links h2 {
    color: black; 
    font-size: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;

}
#links h3 {
    color: black; 
    font-size: 49px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
#links a {
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
#links a:link {
    color: #0066cc;
}
#curry {
    height:500px;
    width:100%;
    position: relative;
    border-top-style: groove;
    border-width:1px;
    border-color: #262626;
    background-color: #EF9B0F;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('photos/curry.jpg')
}
.container h1 {
    text-align: center;
    font-size: 70px;
    color: #EF9B0F;

}
.container h1:hover {
    color: #EF9B0F;
}
.container a{ 
    color: #EF9B0F;
}
.chess {
    font-size: 65px;
    display:inline-block;
}
.chess:hover {
    text-decoration:none;
}
#work, #hobby {
    text-align: center;
}
#row {
    padding-top: 10px;
}
#overview {
    padding-bottom: 10px;
}
